/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.displayList{
	-fx-background: white;
	-fx-alignment: center;
	-fx-label-padding: 0.0 0.0 5.0 0.0;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button, 
.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button{
    -fx-padding:0.0;
}